<div class="content">

  <div class="col-md-2"></div> <!-- left -->

  <div class="col-md-4">
    <label for="">Escolha o Padrão</label>
      <select class="form-control">
        <option value="">DEFAULT</option>
        <option value="">SEGMENTO</option>
      </select>

    <hr>

    <label class="" for="">CPP ATUAL</label>
      <form>
        <fieldset disabled>
          <div class="form-group">
            <input type="text" id="disabledTextInput" class="form-control" placeholder="0,030">
          </div>
        </fieldset>
      </form>

      <form>
        <fieldset>
          <div class="form-group">
            <label for="">Data de Vigência INICIAL</label>
            <input type="datetime" id="disabledTextInput" class="form-control" placeholder="0,030">
          </div>
        </fieldset>
      </form>
  </div>

<div class="col-md-4">
    <label for="">Escolha o Segmento</label>
    <select class="form-control">
      <option value="">UNIVERSITARIO</option>
      <option value="">FREE</option>
      <option value="">VAN GOGH</option>
      <option value="">SELECT</option>
    </select>

    <hr>

    <label class="" for="">CPP NOVO</label>
    <form>
      <fieldset>
        <div class="form-group">
          <input type="text" id="disabledTextInput" class="form-control" placeholder="Insira o CPP atual">
        </div>
      </fieldset>
    </form>

    <form>
      <fieldset>
        <div class="form-group">
          <label for="">Data de Vigência FINAL</label>
          
          <!-- <input type="datetime" id="disabledTextInput" class="form-control" placeholder="0,030"> -->
        </div>
      </fieldset>
    </form>

</div>

  <div class="col-md-2"></div> <!-- right -->

</div> <!-- content -->

<div class="content">
  <div class="col-md-2"></div> <!-- left -->
  <div class="col-md-8">
    <h3>Histórico</h3>
    <table class="table">
    <thead>
      <tr>
        <th>Seg</th>
        <th>NOME</th>
        <th>MATRICULA</th>
        <th>STATUS</th>
        <th>CPP ATUAL</th>
        <th>CPP NOVO</th>
        <th>DT INICIAL</th>
        <th>DT FINAL</th>
        <th>MOTIVO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td>Josiane Costa</td>
        <td>x12586</td>
        <td>Ativo</td>
        <td>0,03</td>
        <td>0,015</td>
        <td>01/01/2001</td>
        <td>01/06/2001</td>
        <td>Promoção dias dos Pais</td>
      </tr>

      <tr>
        <td>FREE</td>
        <td>Josiane Costa</td>
        <td>x12586</td>
        <td>Ativo</td>
        <td>0,03</td>
        <td>0,015</td>
        <td>01/01/2001</td>
        <td>01/06/2001</td>
        <td>Promoção dias dos Pais</td>
      </tr>

      <tr>
        <td>FREE</td>
        <td>Josiane Costa</td>
        <td>x12586</td>
        <td>Ativo</td>
        <td>0,03</td>
        <td>0,015</td>
        <td>01/01/2001</td>
        <td>01/06/2001</td>
        <td>Promoção dias dos Pais</td>
      </tr>

    </tbody>
  </table>
  </div>

  <div class="col-md-2"></div> <!-- right -->
</div>
