<div class="content">

<div class="col-md-4"></div>

<div class="col-md-4">
  <form class="form-signin">
    <h2 class="form-signin-heading" style="text-align:center">Esfera Admin Santander</h2>
      <input type="email" id="inputEmail" class="form-control espaco" placeholder="Usuario Santander" required autofocus>
      <input type="password" id="inputPassword" class="form-control espaco" placeholder="Senha" required>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar
            </label>
          </div>
          <button class="btn btn-lg btn-danger btn-block" type="submit">Entrar</button>
        </form>
</div>
<div class="col-md-4"></div>
</div>
