
  <div class="col-md-2"></div>

    <div class="col-md-8">
      <h1 style="text-align:center">Santander Admin</h1>
      <div class="inline">
        <label class="form-check-label">
          <input class="form-check-input espaco" name="selecionar" type="radio" id="inlineCheckbox1" value="option1"> <span class="lead">CPF</span>
        </label>
          <label class="form-check-label">
            <input class="form-check-input" name="selecionar" type="radio" id="inlineCheckbox1" value="option1"> <span class="lead">Número do pedido</span>
          </label>
          <label class="form-check-label">
            <input class="form-check-input" name="selecionar" type="radio" id="inlineCheckbox1" value="option1"> <span class="lead">Nota Fiscal</span>
          </label>
      </div>

      <form class="form-group" action="#" method="#">
          <input type="text" class="form-control form-control-lg espaco" placeholder="Escolha o tipo acima" />

          <button type="submit" class="btn btn-lg btn-block btn-danger">Buscar Relatório</button>
    </form>

    </div>

    <div class="col-md-2"></div>
